.App {
  text-align: center;
}

.smurfs-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.smurf {
  padding: 20px;
  margin: 20px;
  width: 30%;
  color: aliceblue;
  background-color: #62CDFD;
  border: 1px solid black;
}

label {
  margin: 10px
}

label input {
  padding: 10px;
}